{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Tech with wajuma, wajuma, programmers, developers, web">
    <meta name="description" content="Tech with wajuma. Innovating ideas into digital products and solutions">
    <meta name="robots" content="index, follow" > 
    <title>Tech with wajuma. Innovating ideas into digital products and solutions</title>
    <link rel="stylesheet" href="{% static 'applogic/css/custom.css' %}">
</head>
<body>

</body>
</html>