{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Tech with wajuma, wajuma, programmers, developers, web">
    <meta name="description" content="Tech with wajuma. Innovating ideas into digital products and solutions">
    <meta name="robots" content="index, follow" > 
    <title>Tech with wajuma. Innovating ideas into digital products and solutions</title>
    <link rel="stylesheet" href="{% static 'applogic/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'applogic/css/responsive.css' %}">
</head>
<body>
    <div class="hero">
        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" crossorigin="anonymous"></script>
    <script src="{% static 'applogic/js/app.js' %}"></script>
</body>
</html>